{% assign base-href = include.name | prepend: './' | append: '.html' %}
{% if include.anchor %}
{% assign base-href = base-href | append: '#' | append: include.anchor %}
{% endif %}
<div class="col-12 col-lg-3 m-0 text-center">
    <a href='{{ base-href }}'>
        {% assign poster-img = include.name | prepend: '/assets/svg/' | append: '.svg' %}
        {% assign video-file = include.name | prepend: '/assets/video/' | append: '.mp4' %}
        <div class="embed-responsive embed-responsive-1by1">
            <video class="img-fluid" src="{{ video-file }}" alt="SVG Image" poster="{{ poster-img }}" autoplay loop muted playsinline></video>
        </div>
        <p>{{ include.name }}</p>
    </a>
</div>