<video width="{{ include.width }}" height="{{ include.height }}" controls
    {% assign poster-img = include.name | split: '.' | first | prepend: '/assets/img/' | append: '.png' %}
    {% assign hasPoster = false %}
    {% for static_file in site.static_files %}
        {% if static_file.path == poster-img %}
            {% assign hasPoster = true %}
        {% endif %}
    {% endfor %}
    {% if hasPoster %}
    poster="{{ poster-img | prepend: '.' }}"
    {% endif %}
>
    {% assign video-file = include.name | split: '.' | first | prepend: '/assets/vid/' | append: '.mp4' %}
    {% assign hasMP4 = false %}
    {% for static_file in site.static_files %}
        {% if static_file.path == video-file %}
            {% assign hasMP4 = true %}
        {% endif %}
    {% endfor %}
    {% if hasMP4 %}
        <source src="./assets/vid/{{ include.name | split: '.' | first | append: '.mp4' }}" type="video/mp4">
    {% else %}
        <source src="./assets/vid/{{ include.name | split: '.' | first | append: '.mov' }}" type="video/mp4">
    {% endif %} 
    Your browser does not support the video tag.
</video>
<p>{{ include.caption }}</p>