html, body {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
}

b {
    margin-bottom: 0;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  font-size: 80% !important;
}

/* pre > code {
    font-size: 8pt;
} */

a {
    color: black !important;
    /* text-decoration: none; */
}

a:hover {
    color: black !important;
    text-decoration: underline;
}

#iterations-sidebar {
    position: inherit;
}

#back-to-all-results {
    background-color: #F2F2EA;
}

@media (min-width: 992px) {
    #iterations-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
    }
}